<!-- members/templates/members/dashboard.html -->

{% extends "members/base.html" %}

{% block content %}

<div class="container">

    <!--Personalization when user enters into the dashboard-->
    <h1>Welcome to your dashboard, {{ request.user.first_name }} </h1>
    <p>Manage your account and view your transactions below</p>

    <a href="{% url 'profile' %}" class="btn btn-primary">Go to Profile</a>
    <a href="{% url 'transaction_history' %}" class="btn btn-secondary">View Transactions</a>
    <a href="{% url 'sales_history' %}" class="btn btn-secondary">View Sales History</a>
    <a href="{% url 'inventory_list' %}" class="btn btn-secondary">View Inventory</a>
    {% if request.user.is_superuser %}
        <a href="{% url 'notifications' %}" class="btn btn-secondary">View Notifications</a>
        <a href="{% url 'inventory_recommendations' %}" class="btn btn-secondary">Inventory recommendations</a>
    {% endif %}
    <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>

</div>
{% endblock %}