<!-- members/template/members/login.html-->

{% extends "members/base.html" %}
{% load static %}

{% block content %}
<div class="form-container">
    
    <h2>Login</h2>

    {% if messages %}
        {% for messages in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}        

    <form method="POST" class="login-form" id="login-form">
        {% csrf_token %}

        <div class="form-group">
            
            <label for="id_username">Username</label>
            
            {{ form.username }}

            <script>

                document.getElementById('id_username').setAttribute('autocomplete', 'off');

            </script>

        </div>

        <div class="form-group">

            <label for="id_password">Password</label>
            
            <!-- centers input field -->
            <div class="input-group justify-content-center">

                {{ form.password }}

                <div class="input-group-append">
                    <!-- toggle password visibility with an icon -->
                    <span class="input-group-text" data-toggle="id_password">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            {% if form.password.errors %}

                <div class="text-danger">

                    {{ form.password.errors }}

                </div>
        
            {% endif %}
            
            <script>
                document.getElementById('id_password').setAttribute('autocomplete', 'new-password');
            </script>

        </div>

        <button type="submit" class="btn btn-primary">Login</button>
        <a href="{% url 'home' %}" class="btn btn-danger">Back</a>

    </form>

</div>

<!-- JavaScript to clear fields on page load -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Clear the username and password fields
        document.getElementById('id_username').value = '';
        document.getElementById('id_password').value = '';
    });
</script>
 
{% endblock %}